<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="mapper.candidateMapper">

	<insert id="insertCandidate" parameterType="com.codingquokka.hansungenquete.domain.CandidateVO">
		insert into candidate (candidate_name, election_name, image, vote_count)
		values (#{candidate_name}, #{election_name}, #{image}, #{vote_count});
	</insert>
	
	<select id="selectCandidate" parameterType="String" resultType="com.codingquokka.hansungenquete.domain.CandidateVO">
		select *
		from candidate
		where candidate_name=#{candidate_name};
	</select>
   

</mapper>