<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="mapper.userMapper">
<select id="login" parameterType="com.codingquokka.hansungenquete.domain.UserVO" resultType="String">

with temp as(
	select stu_id,password
	from user
	where stu_id=#{stu_id}
	and password=#{password}
)

select if (temp.stu_id=null, "실패","성공") as result
from temp

</select>
</mapper>