<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 
<mapper namespace="mapper.userMapper">
	<!-- 로그인  -->
	<select id="login" parameterType="com.codingquokka.hansungenquete.domain.UserVO" resultType="com.codingquokka.hansungenquete.domain.UserVO">
		select stuId, name, password, phoneNumber, department
		from user
		where stuId=#{stuId} and password=#{password}
	</select>
	
	 <!-- 총유권자수 계산  -->
	<select id = "totalvoters" parameterType="String" resultType = "int">
		select COUNT(*)
		from user
		where (department like CONCAT('%',#{department},'%') and stuId !='manager') or department = substring(#{department} from 1 for 3);
	</select>

	<select id="allUserWhoHaveRight" parameterType="com.codingquokka.hansungenquete.domain.ElectionVO" resultType="map">
		alter view temp1 as (
		select *
		from user
		where (department like CONCAT('%',#{department},'%') and stuId !='manager') or department = substring(#{department} from 1 for 3)
		);
		alter view temp2 as (
		select stuId, candidateName
		from electionvoted
		where electionName=#{electionName}
		);
		select temp1.*, temp2.candidateName as candidateName
		from temp1 left outer join temp2 on temp1.stuId = temp2.stuId;
	</select>

	<insert id = "insertUser" parameterType="com.codingquokka.hansungenquete.domain.ElectionvotedVO">
		insert into user(stuId, name, password, phoneNumber, department)
		values (#{stuId}, #{name}, #{password}, #{phoneNumber}, #{department});
	</insert>
</mapper>